<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="scence scence__1 active" onclick="nextScence(1)">
      <p class="scence__text">Turn on sound</p>
    </div>

    <div class="scence scence__2 disable" onclick="nextScence(2)">
      <p class="scence__text">Click to start</p>
    </div>

    <div class="scence scence__3 disable" onclick="nextScence(3)">
      <div class="text__wrapper">
          <p class="scence__text scence__text--left" style="font-size: 3.333vw;">Family (n)</p>
          <br>
          <p class="scence__text scence__text--left delay disable" >People in your life who are close to your <br>heart. Who bring out the best in 
            you, who <br> laugh, celebrate and dream with you. <br> Who love you infinitely.
          </p>
      </div>
    </div>

    <div class="scence scence__4 disable" onclick="transform('scence__4')">
      <div class="text__wrapper circle">
          <p class="scence__text scence__text--white">DEARPARENTS</p>
      </div>
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script>
      function nextScence(str){
        let scence = ".scence__" + str;
        $(scence).addClass('disappear');
        setTimeout(() => { $(scence).addClass('disable').removeClass('active'); }, 500);
        
        let next = parseInt(str) + 1;
        let nextS = ".scence__" + next;
        console.log(nextS);
        
        $(nextS).addClass('appear');
        setTimeout(() => { $(nextS).addClass('active').removeClass('disable'); }, 500);
        
      }
      function transform(str){
        let scence = "." + str;
        // $(".text__wrapper").addClass('bg--invi');

        setTimeout(() => { 
          $(scence).addClass('bg--colored');
          $(".text__wrapper").addClass('bg--colored'); 
        }, 0);

        $(".scence__text").addClass('scence__text--dark').removeClass('sence__text--white');
        
        setTimeout(() => { $(".scence__text").addClass('text--bigger'); }, 250);

        
        setTimeout(() => { $(".scence__text").addClass('text--totop'); }, 2000);
      }
      $(document).ready(function(){
        
        if($(".scence__text").is(":visible")){
            $(".scence__text").addClass('appear').removeClass('disable');
        }
        if($(".text__wrapper").is(":visible")){
            $(".text__wrapper").addClass('appear');
        }
      });
    </script>



  </body>
</html>
