*{
  margin: 0 !important;
  padding: 0 !important;
  /* animation: appear 0.7s; */
  font-family: Poppin-Medium, sans-serif;
}
.appear{
  animation: appear 1s forwards;
}
@keyframes appear{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 0.1;
  }
  20%{
    opacity: 0.2;
  }
  30%{
    opacity: 0.3;
  }
  40%{
    opacity: 0.4;
  }
  50%{
    opacity: 0.5;
  }
  60%{
    opacity: .6;
  }
  70%{
    opacity: 0.7;
  }
  80%{
    opacity: .8;
  }
  90%{
    opacity: .9;
  }
  100%{
    opacity: 1;
  }
}
@keyframes disable{
  0%{
    opacity: 1;
  }
  10%{
    opacity: 0.9;
  }
  20%{
    opacity: 0.8;
  }
  30%{
    opacity: 0.7;
  }
  40%{
    opacity: 0.6;
  }
  50%{
    opacity: 0.5;
  }
  60%{
    opacity: .4;
  }
  70%{
    opacity: 0.3;
  }
  80%{
    opacity: .2;
  }
  90%{
    opacity: .1;
  }
  100%{
    opacity: 1;
  }
}
@font-face {
  font-family: Poppin-Medium;
  src: url(font/Poppins-Regular.ttf);
}
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.active{
  display: block;
  opacity: 1;
}
.disable{
  opacity: 0;
  display: none !important;
}
.disappear{
  animation: disable 1s forwards;
}
.scence{
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.scence__text{
  font-size: 2vw;
  color: #E78773;
}
.text__wrapper{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.scence__text--left{
  text-align: left;
  font-size: 2vw;
  color: #E78773;
}
.circle{
  background-color: #FDD1C8;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scence__text--white{
  letter-spacing: 4.8px;
  color: #FFFDF6;
}
.scence__text--dark{
  letter-spacing: 4.8px;
  color: #440606;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.delay{
  opacity: 0;
  animation-delay: 1.5s !important;
}
.text--bigger{
  font-size: 3.385vw;
  letter-spacing: 7.8px;
  transition: 1s ease-in-out;
}
.bg--invi{
  background-color: #fff;
  transition: 1s ease-in-out;
}
.bg--colored{
  background-color: #FFDBD3;
  transition: 1s ease-in-out;
}
.text--totop{
  font-size: 1.823vw;
  top: 10%;
  transition: 1s ease-in-out;
}